#app-logo {
  height: 50px;
}

#app-name {
  margin-left: 15px;

  font-size: 40px;
}

#head {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 10px;

  border: 1px solid red;
}

#head-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#body {
  padding: 10px 10px;

  border: 1px solid red;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* prevents scrollbars */
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* ensures columns respect set widths */
}

th,
td {
  border: 1px solid #000;
  text-align: left;
  padding: 8px;
  box-sizing: border-box;
}

th:nth-child(1),
td:nth-child(1) {
  width: 5%;
}

th:nth-child(2),
td:nth-child(2) {
  width: 90%;
}

th:nth-child(3),
td:nth-child(3) {
  width: 5%;
}
